
    footer {
        .footer{
            background-color: #F7F7F7;
            border-top: 1.5px solid lightgray;
        }   
    }


.bottom-footer {
    height: 50px;
    border-top: 1px solid lightgray;
}
