body{
    background-color: gray;
}
.my-h1{
    font-size: 4.5rem;
    position: relative;
    z-index: 1;
}
a{
    font-size:50pX;
    position: relative;
    z-index: 1;
}
.fa-2xl{
    font-size: 622px;
}